body{
  background-image: url('https://ak5.picdn.net/shutterstock/videos/26610515/thumb/12.jpg');
  background-size: cover;
}

#title{
    text-align: center;
    margin-top: 20vh;
}

#descript{
  text-shadow: 2px 2px black;
}

#playgame p{
 text-align: center;
 font-size: 4rem;
 font-family: 'Bahianita', monospace;
 color:white;
 
}

#again{
  border: 1rem solid rgb(185, 185, 185);
}


.man-container {
  width:30vw;
  float: right;
  height:40vh;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: -40vh;
}

#item1{
 height:100px;
 visibility: hidden;
 margin-top: 15px;
}

#item2{
  height:100px;
  visibility: hidden;
  margin-left: 4px;
  margin-top: -5px;
}

#item3{
  height:100px;
  float: right;
  visibility: hidden;
}

#item4{
  height:100px;
  visibility: hidden;
}

#item5{
  margin-top: -25px;
  height:100px;
  visibility: hidden;
  width:90px;
}



#grid-container {
    margin-left: 8vw;
    width:30vw;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-top: 4vh;
    font-family: 'Notable', sans-serif;
  }


  button{
      background-color: black;
      color: white;
  }

  #blanks{
    display: inline-flex;
    width:95vw;
    margin-left: 2.5vw;
    margin-top: -2vh;
    font-size: 3rem;
    background-color: rgb(0, 0, 0);
    opacity: 0.92;
    border: 2px white solid;
    
  }

  #blanks p{
    border-bottom: solid 4px white;
    width:6vw;
    text-align: center;
    font-size: 3rem;
    margin-left: 1.25vw;
    font-family: 'Rubik', sans-serif;
    color:white;
    height:8vh;
  }

  #one{
    height:80px;
    width:80px;
    color:black;
    background-color: whitesmoke;
    border:2px solid black;
    text-align: center;
    font-size: 2rem;
    font-family: 'Notable', sans-serif;
  }

  #two{
    height:80px;
    width:80px;
    border:2px solid black;
    color:black;
    background-color: whitesmoke;
    text-align: center;
    font-size: 2rem;
    font-family: 'Notable', sans-serif;
  }

  #three{
    border:2px solid black;
    height:80px;
    width:80px;
    color:black;
    background-color: whitesmoke;
    text-align: center;
    font-size: 2rem;
    font-family: 'Notable', sans-serif;
  }

  #four{
    border:2px solid black;
    height:80px;
    width:80px;
    color:black;
    background-color: whitesmoke;
    text-align: center;
    font-size: 2rem;
    font-family: 'Notable', sans-serif;
  }

  #five{
    border:2px solid black;
    height:80px;
    width:80px;
    color:black;
    background-color: whitesmoke;
    text-align: center;
    font-size: 2rem;
    font-family: 'Notable', sans-serif;
  }

  #six{
    border:2px solid black;
    height:80px;
    width:80px;
    color:black;
    background-color: whitesmoke;
    text-align: center;
    font-size: 2rem;
    font-family: 'Notable', sans-serif;
  }

  #seven{
    border:2px solid black;
    height:80px;
    width:80px;
    color:black;
    background-color: whitesmoke;
    text-align: center;
    font-size: 2rem;
    font-family: 'Notable', sans-serif;
  }

  #eight{
    border:2px solid black;
    height:80px;
    width:80px;
    color:black;
    background-color: whitesmoke;
    text-align: center;
    font-size: 2rem;
    font-family: 'Notable', sans-serif;
  }

  #nine{
    border:2px solid black;
    height:80px;
    width:80px;
    color:black;
    background-color: whitesmoke;
    text-align: center;
    font-size: 2rem;
    font-family: 'Notable', sans-serif;
  }

  #ten{
    border:2px solid black;
    height:80px;
    width:80px;
    color:black;
    background-color: whitesmoke;
    text-align: center;
    font-size: 2rem;
    font-family: 'Notable', sans-serif;
  }

  #eleven{
    border:2px solid black;
    height:80px;
    width:80px;
    color:black;
    background-color: whitesmoke;
    text-align: center;
    font-size: 2rem;
    font-family: 'Notable', sans-serif;
  }

  #twelve{
    border:2px solid black;
    height:80px;
    width:80px;
    color:black;
    background-color: whitesmoke;
    text-align: center;
    font-size: 2rem;
    font-family: 'Notable', sans-serif;
  }

  #thirteen{
    border:2px solid black;
    height:80px;
    width:80px;
    color:black;
    background-color: whitesmoke;
    text-align: center;
    font-size: 2rem;
    font-family: 'Notable', sans-serif;
  }

  #fourteen{
    border:2px solid black;
    height:80px;
    width:80px;
    color:black;
    background-color: whitesmoke;
    text-align: center;
    font-size: 2rem;
    font-family: 'Notable', sans-serif;
  }

  #fifteen{
    border:2px solid black;
    height:80px;
    width:80px;
    color:black;
    background-color: whitesmoke;
    text-align: center;
    font-size: 2rem;
    font-family: 'Notable', sans-serif;
  }

  #sixteen{
    border:2px solid black;
    height:80px;
    width:80px;
    color:black;
    background-color: whitesmoke;
    text-align: center;
    font-size: 2rem;
    font-family: 'Notable', sans-serif;
  }

  #seventeen{
    border:2px solid black;
    height:80px;
    width:80px;
    color:black;
    background-color: whitesmoke;
    text-align: center;
    font-size: 2rem;
    font-family: 'Notable', sans-serif;
  }

  #eighteen{
    border:2px solid black;
    height:80px;
    width:80px;
    color:black;
    background-color: whitesmoke;
    text-align: center;
    font-size: 2rem;
    font-family: 'Notable', sans-serif;
  }

  #nineteen{
    border:2px solid black;
    height:80px;
    width:80px;
    color:black;
    background-color: whitesmoke;
    text-align: center;
    font-size: 2rem;
    font-family: 'Notable', sans-serif;
  }

  #twenty{
    border:2px solid black;
    height:80px;
    width:80px;
    color:black;
    background-color: whitesmoke;
    text-align: center;
    font-size: 2rem;
    font-family: 'Notable', sans-serif;
  }

  #twentyone{
    border:2px solid black;
    height:80px;
    width:80px;
    color:black;
    background-color: whitesmoke;
    text-align: center;
    font-size: 2rem;
    font-family: 'Notable', sans-serif;
  }

  #twentytwo{
    border:2px solid black;
    height:80px;
    width:80px;
    color:black;
    background-color: whitesmoke;
    text-align: center;
    font-size: 2rem;
    font-family: 'Notable', sans-serif;
  }

  #twentythree{
    border:2px solid black;
    height:80px;
    width:80px;
    color:black;
    background-color: whitesmoke;
    text-align: center;
    font-size: 2rem;
    font-family: 'Notable', sans-serif;
  }

  #twentyfour{
    border:2px solid black;
    height:80px;
    width:80px;
    color:black;
    background-color: whitesmoke;
    text-align: center;
    font-size: 2rem;
    font-family: 'Notable', sans-serif;
  }

  #twentyfive{
    border:2px solid black;
    height:80px;
    width:80px;
    color:black;
    background-color: whitesmoke;
    text-align: center;
    font-size: 2rem;
    font-family: 'Notable', sans-serif;
  }

  #twentysix{
    border:2px solid black;
    height:80px;
    width:80px;
    color:black;
    background-color: whitesmoke;
    text-align: center;
    font-size: 2rem;
    font-family: 'Notable', sans-serif;
  }